:root {
  --font-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

:where(*, *::before, *::after) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 12px;
}

form {
  & label {
    display: flex;
    flex-direction: column;

    & textarea {
      padding: 12px;
      font-family: var(--font-monospace);
      flex: auto;
    }
  }

  height: calc(100dvh - 24px);
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr max-content;
  grid-template-areas:
    "editor output"
    "button output";

  .editor {
    grid-area: editor;
  }

  .button {
    grid-area: button;
  }
  .output {
    grid-area: output;
    height: 100%;
    overflow-y: auto;
  }
}
